* {
    padding: 0;
    margin: 0;
    
}

#navbar{
    display: flex;
    justify-content: space-between;
    height:60px;
    background-color: #1A2C38;
    border-color: white;
    color: white;
    border-bottom: 3px solid black;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
    padding: 15px;
}

#logo{
    color: #f08804;
    font-size: 25px;

}
button{
    background-color: #f08804;
    padding: 2px;
    border-radius: 6px;
}

input{
    border-radius: 10px;
    padding: 5px;
}
a{
/* margin-right: 15vw; */
text-decoration: none;
color: white;
font-size: 20px;
}

.a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    
    height:250px;
    width: 200px;
    background-color: antiquewhite;
padding: 10px;
margin: 10px;
font-size: 50px;
color: darkblue;
cursor: pointer;
border-radius:10px ;

}

.limbo{
    background-color: aliceblue;
    color: #f08804;
    background-image: url(
        https://mediumrare.imgix.net/2c3e16f0a3b8cd8d979265e48dd6a169937a4a4d0acb05ad532ca8345a1e6f21?&dpr=1.25&format=auto&auto=format&q=50&w=167
    );
    
}

.DRAGONTOWER{
    background-color: aliceblue;
    color: #f08804;
    background-image:url(
        https://mediumrare.imgix.net/e0a4131a16c28a1c1516958c93ec90c6f0f1bb00f41de87f72f6800c535b9c6f?&dpr=1.25&format=auto&auto=format&q=50&w=167

    );
}

.CARDS{
    background-color: aliceblue;
    color: #f08804;
    background-image: url(
        https://mediumrare.imgix.net/30be38fdc2b4d9a6c76194314dfb7814a66d6905287ade354a0e5f2a79b1ab27?&dpr=1.25&format=auto&auto=format&q=50&w=167
    );
}

.mines{
    background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1j8QHakMksbDaTBFmh2hIMB_kh6Vx6MsYkA&s);
}

.dice{
    background-image: url(https://mediumrare.imgix.net/11caec5df20098884ae9071848e1951b8b34e5ec84a7241f2e7c5afd4b323dfd?&dpr=1.25&format=auto&auto=format&q=50&w=167);
}

.keno{
    background-image: url(
    https://mediumrare.imgix.net/102cf3d7c840018b939cd787bf013e080b996d80e604f3008f21dddf1f1aa201?&dpr=1.25&format=auto&auto=format&q=50&w=167

    );
}
.content{
    background-color: #1A2C38;
    height: 100vh;
}
.money{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;

    background-color: #112330;
    padding: 5px;
    width: 150px;
    height: 35px;
}

.wallet{
    height: 25px;
    width: 25px;
    padding: 10px;
    padding-right: 12px;
    margin-left: 4px;

    background-color: blue;
    
}
